h1{
    font-family: "cookierun";
}
.list-box{
    background-color: beige;
    border: orange solid 2px;
    width: 300px;
}
.list-deco{
    list-style-type: circle;
}
.list-deco a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.list-deco a:hover{
    font-style: italic;
    text-shadow: 1px 1px 3px #ac115e;
}
.text-strong{
    font-family: 궁서체;
    color: aquamarine;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ac115e;
}
