.background-orange{
    background-color: orange;
}
.inline-block{
    display: inline-block;
    width: 300px;
    height: 300px;
}

.hidden{
    visibility: hidden;
}
.none{
    display: none;
}
.opacity{
    /*1~100%, 0~1 숫자*/
    opacity: 75%;
    background-color: aqua;
}

.box{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
}
.position-s{
    position: static;
    /*정적위치에서는 이동할 수 없다*/
    left: 30px;
}
.position-r{
    /*상대위치를 쓰겠다 알림*/
    position: relative;
    left: 30px;
    top: 0px;
}
.box-parent{
    height: 300px;
}
.position-f{
    position: fixed;
    top: 0;
    right: 0;
}

.position-a{
    position: absolute;
    top: 250px;
    left: 150px;
}