body{
    background-color: darkcyan;
}
.grid-box-media{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid-box-media .content{
    margin: 10px;
    height: 300px;
    background-color: aliceblue;
}
/*미디어 쿼리를 사용할때, pc보다 작은 디자인을 적용*/
@media screen and (max-width:480px){
    body{
        background-color: lightblue;
    }
}
/*가운데 크기를 작성해줄때는 min-width/max-width를 둘 다 사용하여 and로 연결한다*/
@media screen and (min-width:481px) and (max-width:767px){
    body{
        background-color: paleturquoise;
    }
    .grid-box-media{
        grid-template-columns: 1fr 1fr;
    }
}