.outbox p{
    background-color: aliceblue;
}
.outbox>p{
    background-color:darkblue;
}
.sibling~p{
    background-color: cadetblue;
}

/* +를 사용할때는 바로뒤에 있는 태그만 찾을수 있다 */
.sibling+a{
    /* 바로뒤에 있지않기에 찾을 수 없음 */
    background-color: aquamarine;
}
.sibling+p{
    background-color: aquamarine;
}

.sibling~.test{
    background-color: burlywood;
}

.input-focus:focus{
    background-color: cornsilk;
    color: blueviolet;
}

.input-focus:focus+p{
    color: blue;
}
.state>input:checked+span{
    color: gray;
}
.state>input:disabled+span{
    text-decoration: line-through 1px solid;
}

.menu-list>li:first-child{
    background-color: violet;
}
.menu-list>li:last-child{
    background-color: aquamarine;
}
.menu-list>li:nth-child(2n){
    color: blue;
}
.table-color{
    border-collapse: separate;
}
/*자손이므로 tbody 무시*/
.table-color tr:first-child{
    background-color: azure;
}
/*자식이므로 tbody 추가*/
.table-color>tbody>tr:last-child{
    background-color:aquamarine;
}

/*위의 선택자 중 하나를 이용해서 짝수색만 바꾸기*/

.table-color>tbody>tr:nth-child(2n){
    color:brown;
}
.child-tag>p:first-child{
    color: blue;
}
.child-tag>h1{
    color:brown;
}

p:first-of-type{
    color: red;
}
/*클래스를 지정하고 자식으로 타입찾기
first-child와 동일한 역할*/
.of-type>p:first-of-type{
    background-color:yellowgreen;
}

.first-letter:hover:first-letter{
    color: blueviolet;
    font-size: 1.5rem;
}
.first-line::first-line{
    background-color: antiquewhite;
}
.before::before{
    /* content를 넣어서 내용추가 */
    /* 글자나 url 을 통해 이미지 추가 */
    content: url(img/pencil-solid.svg);
    /*inline-block을 넣어서 크기 조절*/
    display: inline-block;
    width: 20px;
}
.before-color::before{
    content: " ";
    /*content에 글자가 없을때, inline-block 사용*/
    background-color: aqua;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.after::after{
    content: "추가";
    background-color: green;
    padding: 5px;
    color: #fff;
    border-radius: 20px;
}
/*전체를 덮을 때는 after 사용*/
.after-color:hover:after{
    content: "추가된 글자";
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color:aquamarine;
    position: absolute;
    left: 0;
}
.before-image::before{
    content: "";
    /*content로 이미지 크기 수정 어려움(고정)*/
    /*크기 수정이 가능한 background-image로 추가*/
    background-image: url(img/cat.jpg);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

/*체크된 상태일때 상태값이 변경된다*/
.attr input[type="checkbox"]:checked+span{
    color: crimson;
}
.attr input[type="radio"]:checked+span{
    color:darkblue;
    text-decoration: underline wavy;
}
.attr input[type="button"]{
    background-color: black;
    color: #fff;
}
.attr input[type="radio"][value="group"]{
    /*두개 이상의 속성이름과 속성값을 가진 태그를 찾을 수 있다*/
}