.bookmark{
    background-color:antiquewhite;
    border: 2px solid #000;
    font-weight: bold;
    padding: 0 10px;
    width: 170px;
    position: fixed;
    right: 0;
    top: 0;
}
.bookmark ul{
    list-style: none;
}
.bookmark ul a{
    text-decoration: none;
    color: black;
}
.bookmark ul a:hover{
    color: #fff;
}